boto3
click
Cython
fastapi
flake8
hydra-core
librosa
nemo_toolkit[asr]==1.20.0
numba
numpy>=1.22,<2.1
youtokentome>=1.0.6
pandas
pdoc
pytest>=7.2.0
python-dotenv
pytorch-lightning>=1.6.0
requests
torch
torchaudio
torchvision
uvicorn
starlette>=0.35.0,<0.36.0
