boto3
click
Cython
fastapi
flake8
hydra-core
librosa
nemo_toolkit[asr]>=1.21.0
numba
numpy
pandas
pdoc
pytest>=7.2.0
python-dotenv
pytorch-lightning>=1.6.0
requests
torch
torchaudio
torchvision
uvicorn